<!DOCTYPE html>
<html lang="en" style="background-color: beige">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/weui.min.css">
    <link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/mobileSelect/mobileSelect.css">
    <link rel="stylesheet" href="../../css/regist.css">
    <link rel="stylesheet" href="../../css/userInfo.css">
    <link rel="stylesheet" href="../../css/common.css">

    <title>露露星球</title>
    <style>
        body {
            background-color: #e7e7e7;
        }
    </style>
</head>
<body>
<div style="background-color: beige;  display: flex; margin-top: 2px">
        <img  style="width: 30% ;margin-left: 5px; border-radius: 50%" align="center" id="image" >
    <div style="margin-left: 50px;display: flex; flex-direction:column; justify-content: center;  align-items: center; ">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF" id="name"> </span ><label>(VIP)</label></p>

        <p class="labTitle" style="display: flex;  justify-content: center;  align-items: center; " ><span class="isRequired">可提现：</span ><label id="ktx"style="color: red"></label></p>

    </div>


    <div style="background-color: beige;display: flex; flex-direction:column; justify-content: center;  align-items: center;">
        <!--<button style="background-color: beige;color: red; padding-left: 40px">我要推广</button>-->
        <SCRIPT LANGUAGE="JavaScript">

            function noReP(){
                document.getElementById('oImg').style.display = "none";
            }
        </SCRIPT>
        <img  src='https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eotKwbb3Y592rpW5Hwd6rQAwC5ibUGV4SVH1iaRsVwhAYO8Od7nFibeWMxkicQQXZUlA8rzgrM2YDM4HA/132' id="oImg"
              style='display:none' width="160px" hight="200px">
        <INPUT style="background-color: beige;color: red; padding-left: 40px" TYPE="button" value='我要推广' onclick="reP()">
    </div>

</div>
<div style="background-color: beige; display:flex;flex-wrap:wrap;">
    <div style=" display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border:burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF"id="gzrs"></span ><label ></label></p>
    <p>关注人数</p>

    </div>
    <div style="display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border: burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF" id="yxrs"></span ><label></label></p>

        <p>有效人数</p>

    </div>
    <div style="display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border: burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF"id="jrxz"></span ><label ></label></p>
        <p>今日新增</p>

    </div>
    <div style="display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border: burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF"id="zrsy"></span ><label ></label></p>
        <p>今日收益</p>

    </div>
    <div style="display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border: burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF"id="sysy"></span ><label ></label></p>
        <p>上月收益</p>
    </div>
    <div style="display:flex;flex-direction:column; justify-content: center;  align-items: center;  margin-top: 10px;margin-left:10px;border: burlywood ;border-style: solid;width: 30%;height: 100px;">
        <p class="labTitle" style="display: flex; " ><span class="isRequired" style="color: #1E9FFF"id="zsy"></span ><label ></label></p>
        <p>总收益</p>
    </div>
</div>
<div style="background-color:beige;">
<div class="tipBox" style="  margin-left: 10px;;margin-right: 10px">
    <p class="tipTitle">活动规则</p><br>
    <!--<p class="tipText">请把以下清单文件邮寄到聚雕网：</p>-->
    <p class="tipText" style="color: red">1、好友消费分佣说明：
                                            有效人数>5人（45%）！有效人数>18人（55%）！有效人数>28人（65%）！
    </p>
    <!--<p class="tipText"style="color: red">2、</p>-->
    <p class="tipText" style="color: red">2、参加活动记得添加客服微信报名：luluxingqiu1</p>
    <p class="tipText"style="color: red">3、如果走丢，请访问www.luluxingqiu.com</p>
    <p class="tipText"style="color: black">注：有效人数指本月在公众号消费过的会员,每月1号结上月佣金，也可找客服提前结算本月佣金！</p>

    <!--<p class="tipText">5、法人个人银行U盾、密码。</p>-->
    <!--<p class="tipText">办理时间：收到资料后10个工作日左右。</p>-->
</div>
</div>
</body>
</html>
<script src="../../js/jQuery/jquery-3.4.0.js"></script>
<script src="../../lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../../lib/mobileSelect/mobileSelect.js"></script>
<script src="../../lib/mobileSelect/selectDate.js"></script>
<script src="../../lib/layer/layer.js"></script>
<script src="../../js/index.js"></script>
<script>
//    $("img").click(function(){
//        document.getElementById('oImg').style.display = "none";
//
////        alert('你点击了图片');
//
//    })

    //获取页面请求路径中的参数
    function GetRequest() {
        console.log("location.search"+location.search)
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    function getCookie(name) {
        var arr;
        var reg = new RegExp('(^| )' +name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }



    $(function(){

        var openid = null;
        var getRequest = GetRequest();
        if (getRequest.openid) {
            openid = getRequest.openid;
            console.log(openid)
            if (typeof openid !== 'undefined') {
                var exp = new Date();
                exp.setTime(exp.getTime() + 3600 * 1000);//过期时间60分钟
                document.cookie = 'openid=' + openid + ";expires=" + exp.toGMTString();
            }

        }
        //获取openidhttp://127.0.0.1/view/detail.html?productId=3encodeURIComponent(config.sellUrl + '/#/')
        if(getCookie('openid') == null) {
            location.href = baseUrl+'/sell/wechat/authorize?returnUrl='+baseUrlView+"/view/order/attention.html";
        }
        var checkboxStatus=null;
        $.ajax({
            url: baseUrl+'/sell/buyer/order/userAdvice',
            type: 'POST',
            data:{"openid":getCookie('openid')},
            success: function(res){
                console.log(res.data)
                $("#image").attr('src',res.data.headimgurl);
                $("#name").text(res.data.name)
            }
        })
        $.ajax({
            url: baseUrl+'/sell/skill/attention',
            type: 'POST',
            data:{"openid":getCookie('openid')},
            success: function(res){
                console.log(res.data)
                $("#zsy").text(res.data.zsy)
                $("#sysy").text(res.data.sysy)
                $("#zrsy").text(res.data.zrsy)
                $("#gzrs").text(res.data.gzrs)
                $("#yxrs").text(res.data.yxrs)
                $("#jrxz").text(res.data.jrxz)
                $("#ktx").text(res.data.ktx)

            }
        })



    })
function reP(){
//                document.getElementById('oImg').style.display = "block";
    location.href=baseUrlView+'/view/order/order_info.html?openid='+getCookie('openid');

}
</script>